/**
 * @name Vlouse [ BETA ]
 * @author abs#5958
 * @description Upgrade your Discord experience with Vlouse.
 * @version 1.0.0
 * @donate https://www.paypal.com/paypalme/reklama1
 * @authorId 1025029483847241738
*/

@import url("https://raw.githubusercontent.com/glixxify/kari/main/vlouse.theme.css");

/* Settings */
:root {
  --version: "1.0.0";

  /* Colors */
  --main-color: #000000;

  /* Borders */
  --avatar-radius: 8px;
}

/* Dark/Light vars */
.theme-dark {
  /* BGs */
  --background-primary: #000000;
  --background-secondary: #000000;
  --background-secondary-alt: #000000;
  --background-secondary-alt-alt: #000000;
  --background-tertiary: #000000;

  --deprecated-store-bg: var(--background-primary);
  --background-floating: var(--background-secondary);
  --background-mobile-primary: var(--background-primary);
  --activity-card-background: var(--background-secondary);
  --input-background: var(--background-secondary);
  --modal-background: var(--background-primary);

  --colortransparency: #0003;

  /* Cards */
  --card: #21221332;

  /* Other stuff */
  --textcolor: #fff;
  --epicshadow1: #fff3;

  /* Font */
  --font-display: var(--font-primary) !important;
}

.theme-light {
  /* BGs */
  --background-primary: #fafafa;
  --background-secondary: #f7f7f7;
  --background-secondary-alt: #fff;
  --background-secondary-alt-alt: #eee;
  --background-tertiary: #fff;

  --deprecated-store-bg: var(--background-primary);
  --background-floating: var(--background-secondary);
  --background-mobile-primary: var(--background-primary);
  --activity-card-background: var(--background-secondary);
  --modal-background: var(--background-primary);

  --colortransparency: #0001;

  /* Cards */
  --card: #aaaaaa;

  /* Other stuff */
  --textcolor: #000;
  --epicshadow1: #0003;
}
